:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  display: grid;
  place-items: center;
}

h1 {
  margin: 2rem 0;
}

.video {
  border: 2px solid black;
  max-height: 350px;
}

.buttons {
  margin: 2rem 0;
}

button {
  margin: 0.5rem;
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

.video-type {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.video-type > p {
  font-size: large;
}

.radio-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #242424aa;
  backdrop-filter: blur(5px);
}

#loading h1 {
  animation: blink 1000ms infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
