:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  display: grid;
  place-items: center;
}

h1 {
  margin: 2rem 0;
}

.video {
  border: 2px solid black;
  max-height: 350px;
}

.buttons {
  margin: 2rem 0;
}

button {
  margin: 0.5rem;
  font-size: 1.5rem;
  padding: 0 0.5rem;
}
